.cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    margin-bottom: 30px;
    width: 90%;
}
.titleSection{
    color: #555555;
    font-size: 40px;
    
}
.containerSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
